// @bg-main: #F06060;
// @bg-accent: #eee;
// @text-light: #eee;
@bg-main: #FF70F5;
@bg-accent: #36D900;
@text-light: #eee;
@text-dark: #333;

.transition(@target:all, @duration:400ms) {
	-moz-transition: @target @duration ease;
	-webkit-transition: @target @duration ease;
	-o-transition: @target @duration ease;
	transition: @target @duration ease;
}

body {
	font-family: 'Lato', sans-serif;
	color: @text-light;
	background: @bg-main;
}

.btn {
	display: block;
	background-color: #ccc;
	border: none;
	color: #4c4c4c;
}

header {
	background: @bg-main;
	padding: 20px 0px;
	.logo {
		font-family: 'Lobster', cursive;
		font-size: 50px;
	}

	.tagline {
		margin-left: 20px;
		margin-top: 27px;
		font-size: 23px;
	}

	.fb-login {
		margin-top: 15px;
		padding: 10px 12px;
		background-color: #0E83CD;
		color: @text-light;
	}

	.logout {
		margin-top: 22px;
		display: none;
	}
}

.wrap {
	margin: 0px auto;
	// min padding on sides for mobile
	padding: 0 12px;
	max-width: 800px;
}

.tight-wrap {
	margin: 0px auto;
	padding: 0 12px;
	max-width: 800px;
}

.feature {
	height: 227px;
	padding: 50px 0px;
	background: @bg-accent;
	color: @text-dark;
	// text-align: center;

	.wait {
		// color: @text-dark;
		color: #999;
		font-size: 16px;
		display: none;
		margin-left: 200px;
	}

	.haiku {
		// .transition(opacity, 1000ms);
		// -webkit-transition: all 2s ease;
		display: none;

		p {
			text-align: center;
			color: #333;
			font-size: 32px;
			margin: 0px;
		}

	}

	.preview {
		-webkit-transition: all 2s ease;

		p {
			text-align: center;
			color: #333;
			font-size: 32px;
			margin: 0px;
		}		
	}

	.next {
		visibility: hidden;
		width: 410px;
		margin: 40px auto 0px auto;

		button.good {
			-webkit-transition: all 2s ease;
			width: 200px;
			height: 50px;
			float: left;
			margin-left: 10px;
		}

		button.bad {
			-webkit-transition: all 2s ease;
			width: 200px;
			height: 50px;
			float: left;
		}

	}
}

.learning {

	.stats {
		visibility: hidden;
		width: 700px;
		margin-left: 100px;
		margin-top: 50px;

		.stats-number {
			font-size: 70px;
			margin-left: 0px;
			font-weight: bold;
			line-height: 50px;
			padding: 10px 0px;
		}
	}

}

.logged-in {

	.logout {
		display: block;
	}

	.wait {
		display: block;
	}

	.preview {
		display: none;
	}

	&.loaded {

		.haiku {
			display: block;
		}

		.next {
			visibility: visible;
		}

		.wait {
			display: none;
		}

		.stats {
			visibility: visible;
		}
	}

	button.fb-login {
		display: none;
	}
}